.App {
  text-align: center;
}

.App-header {
  background-color: var(--wrapper-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*------------------------------Wrapper---------------------------------*/

.wrapper {
  display: grid;
  position: relative;
  grid-template-columns: 15% 73% 12%;
  grid-template-rows: 15% 75% 10%;
  text-decoration: 1px solid #ffffff;
  width: 100vw;
  height: 100vh;
  background-color: var(--wrapper-background-color);
}

.header,
.nav,
.section,
.aside,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------Header---------------------------------*/

.header {
  position: relative;
  background: var(--background-color-header);
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.2em;
  color: white;
}

.header-logo {
  position: absolute;
  left: 4.2em;
}

.header-logo-text {
  font: "Gilroy";
  color: black;
  -webkit-text-stroke: 1px #fff;
  font-size: 40px;
  line-height: normal;
}

.header-logo-acronym {
  font-weight: 600;
  display: flex;
}

.header-burger-menu {
  margin-left: 1.3em;
}

/*------------------------------Nav---------------------------------*/

.nav {
  flex-direction: column;
  background: var(--background-color-header);
  background-color: var(--background-color-header);
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  flex-basis: auto;
  position: relative;
  color: var(--nav-text-color);
  font-family: "Gilroy", sans serif;
  display: flex;
}

.nav-wrapper {
  border-top: 2px solid var(--burger-menu-button-color);
  border-bottom: 2px solid var(--burger-menu-button-color);
  padding: 20px 0;
  justify-content: center;
  height: fit-content;
  align-items: stretch;
}

.nav-title {
  font-weight: 700;
  font-size: 40px;
}

.nav-text {
  font-weight: 600;
  display: flex;
}

.nav-text div::first-letter {
  color: var(--nav-text-color);
  font-size: 140%;
}

/*------------------------------Section---------------------------------*/

.section {
  position: relative;
  background: black;
  grid-row: 2;
  grid-column: 1/3;
  font-family: "Gilroy", sans-serif;
}

.section-wrapper {
  position: relative;
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 1.8em;
  justify-content: center;
  align-items: center;
}

.section-title {
  display: flex;
  font-family: "Gilroy ExtraBold";
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  align-items: center;
}

.section-text {
  padding-top: 8px;
  font-family: inherit;
  display: flex;
  align-items: center;
  width: 70%;
  color: #fff;
  line-height: 1.2;
}

.section-buttons {
  display: flex;
  width: 40%;
}

.section-buttons button {
  background-color: var(--light-pink-text-color);
  margin-top: 30px;
  font-size: 18px;
  font-family: inherit;
  margin-right: 10px;
  border-radius: 8px;
  cursor: pointer;
  width: 70%;
  border: 1px solid var(--light-pink-text-color);
}

.section-buttons button:hover {
  background-color: var(--wrapper-background-color);
  border: 1px solid var(--wrapper-background-color);
  color: #fff;
}

/*------------------------------Aside---------------------------------*/

.aside {
  background: var(--light-pink-text-color);
  color: white;
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  flex-basis: auto;
  font-family: "Gilroy", sans-serif;
  font-size: 35px;
  color: var(--light-pink-text-color);
  -webkit-text-stroke: 1px #fff;
}

.aside-content {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.aside-title,
.aside-hashtag {
  display: flex;
  justify-content: center;
  font-size: 90px;
  margin-right: 0;
  padding-right: 0;
}

.aside-hashtag {
  margin-bottom: 8px;
}

/*------------------------------Aside animations---------------------------------*/

.aside-text-effect {
  position: relative;
  color: var(--light-pink-text-color);
  -webkit-text-stroke: 1px #fff;
  font-size: 35px;
  font-family: "Gilroy", sans-serif;
  line-height: normal;
}

.aside-text-effect:before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  color: var(--footer-background-color);
  -webkit-text-stroke: 1px var(--footer-background-color);
  white-space: nowrap;
  transition: 0.8s;
  overflow: hidden;
  font-family: "Gilroy", sans-serif;
  clip-path: polygon(0 0, 0 0%, 100% 0%, 100% 0);
  line-height: normal;
}

.aside-text-effect:hover:before {
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  font-family: "Gilroy", sans-serif;
  line-height: normal;
}

@-moz-document url-prefix() {
  .aside-text-effect {
    line-height: 1;
  }

  .aside-text-effect:before {
    line-height: 1;
  }

  .aside-text-effect:hover:before {
    line-height: 1;
  }
}

.aside-span-effect {
  position: relative;
  color: var(--light-pink-text-color);
  -webkit-text-stroke: 2px #fff;
}

.aside-span-effect:before {
  content: attr(data-fill);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #fff;
  white-space: nowrap;
  transition: 0.8s;
  overflow: hidden;
  clip-path: polygon(0 0, 0 1%, 100% 1%, 100% 0);
}

.aside-span-effect:hover:before {
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

/*------------------------------Footer---------------------------------*/

.footer {
  background: var(--footer-background-color);
  grid-row: 3;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  color: var(--background-color);
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

.footer-text {
  margin-top: 3px;
  font-size: 10px !important;
}

.footer-contacts {
  margin-top: 8px;
}

.footer-contacts img {
  margin-right: 5px;
}

.footer-signature {
  margin: 5px;
  font-size: 10px !important;
  font-family: "Lucida Handwriting";
}

/*------------------------------Carousel of quotes---------------------------------*/

.alice-carousel__dots {
  display: none;
}

p.alice-carousel__prev-btn-item,
p.alice-carousel__next-btn-item {
  display: none;
}

div.alice-carousel__prev-btn,
div.alice-carousel__next-btn {
  display: none;
}

.alice-carousel ul li img {
  display: flex;
  height: 350px;
  width: 50%;
  object-fit: cover;
}

.slidertext {
  width: 50%;
  height: 100px;
}

blockquote {
  text-align: end;
  font-family: "Gilroy", sans-serif;
}

.quote1 {
  font-family: inherit;
  font-size: 20px;
  width: 380px;
}

.quote2 {
  font-family: inherit;
  font-size: 20px;
  width: 420px;
}

.quote3 {
  font-family: inherit;
  font-size: 20px;
  width: 660px;
}

.quote4,
.quote5 {
  font-family: inherit;
  font-size: 20px;
  width: 580px;
}

.quote5 {
  width: 470px;
}

.author {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  border-right: 4px solid var(--light-pink-text-color);
  padding-right: 10px;
}

.sidekick:before,
.sidekick:after {
  font-family: Calibri;
  color: var(--light-pink-text-color);
  font-size: 22px;
  margin-right: 5px;
}
.sidekick:before {
  content: "\201c";
  margin-right: 5px;
  margin-left: 20px;
}
.sidekick:after {
  content: "\201c";
  margin-left: 3px;
}

/*------------------------------Carousel of images (in the section)---------------------------------*/

.alice-carousel__wrapper {
  width: 800px !important;
}

.section-carousel .alice-carousel__wrapper {
  display: flex;
  align-content: center;
  width: 100%;
  width: 400px !important;
  margin-right: 0.5em;
}

.section-carousel .alice-carousel ul li img {
  width: 100%;
  
}



.sliderimg {
  object-fit: cover;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  border-radius: 4px; 
  opacity: 0.4;
 
 
}

.section-carousel .alice-carousel__stage-item {
  position:relative;
}

.section-carousel .alice-carousel__stage-item::after {
  content:'';
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow: inset 0 0 9px 11px rgba(0,0,0,0.8);
  

}



/*------------------------------Modal---------------------------------*/

.swal2-input-label {
  margin: 0 auto !important;
  font-size: 1em !important;
}

.swal2-input {
  margin: 0.6em auto !important;
  height: 1.8em !important;
}

.swal2-content {
  font-size: 1em !important;
}

.swal2-image {
  margin-bottom: 0 !important;
}

.swal2-title {
  margin: 0.2em auto !important;
  font-size: 1.2em !important;
}

.swal2-actions {
  margin-top: 0.2em !important;
}

/*------------------------------Images (added specific styles to specific images)---------------------------------*/

.img12.img16 {
  opacity: 0.2;
  filter: grayscale(60%);
}

.img20.img1{
  opacity: 0.2;
  filter: grayscale(60%);
}

.img1{
  opacity: 0.3;
  filter: grayscale(60%);
}

.img4bis{
  opacity: 0.2;
  filter: grayscale(60%);
}

